/node_modules
/build
/out
/coverage
/bundle
/bin
/tmp-node-modules
*.tsbuildinfo
*.node
.DS_Store
*.vsix
*.backup
tools/*
!tools/*.ts
**/.aws-cfn-storage
/extension
/oss-attribution
/tmp-tst
/jscpd
/tmp
